.Header_container{
    border-bottom:2px solid #EBEBEB ;
    display: flex;
    justify-content: flex-start;
    gap: 40%;
}
.Header_container p{
    color: #000;
}
@media(max-width:786px){
    .Header_container{
        padding: 10px 10px;
        background: #fff;
        gap: 30%;
    }   
}