/* Styles for Above Content */
.content-above {
  transition: opacity 3s;
  overflow: hidden;
  height: 300px;
  width: 210px;
  border-radius: 8px;
  border: 1.5px solid #14142b;
  background: #070707;
}
.content-above h2 {
  color: #ffcd00;
  text-align: center;
  font-family: Clash Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

  letter-spacing: 0.24px;
  text-transform: uppercase;
}
.content-above p {
  color: #ffe888;
  text-align: center;
  font-family: Satoshi;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.1px;
}

.sliding-div-container {
  position: relative;
  height: 100vh;
  width: 210px;
  overflow: hidden;
}

.sliding-div {
  width: 100%;
  height: 300px;
  background-image: url("https://res.cloudinary.com/dtfvdjvyr/image/upload/v1698603113/Frame_855_nlab4q.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: transform 3s;
}
.reverse-div {
  width: 100%;
  height: 300px;
  background-image: url("https://res.cloudinary.com/dtfvdjvyr/image/upload/v1698611977/Frame_852_teaic1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: transform 3s;
}

/* Slide up effect */
.sliding-div.up {
  transform: translateY(-100%);
  transition: transform 3s;
}
.reverse-div.up {
  transform: translateY(-100%);
  transition: transform 3s;
}
/* Hide Above Content and Below Content when they are covered */
.content-above.hidden,
.content-below.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Fade out effect */
.content.fading {
  opacity: 0;
  transition: opacity 3s;
}
/* Styles for div3 (content-below) */
.content-below {
  border-radius: 8px;
  border: 1.5px solid #14142b;
  background: #070707;
  width: 210px;
  transition: opacity 3s;

  height: 300px;
}
.content-below h2 {
  color: #ffcd00;
  text-align: center;
  font-family: Clash Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

  letter-spacing: 0.24px;
  text-transform: uppercase;
}
.content-below p {
  color: #ffe888;
  text-align: center;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.1px;
}
.btb {
  border-radius: 100px !important;
  border: 0.706px solid var(--grayscale-off-white, #fcfcfc);
  background: var(--BG, #f1f5f5);
  display: flex;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  gap: 8.467px;
  color: #070707;
  text-align: center;
  font-family: Satoshi;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 80% */
}
@media (min-width: 375px) and (max-width: 389px) {
  .sliding-div-container {
    height: 87vh;
    width: 199px;
  }
  .content-below {
    width: 199px;
  }
  .content-above {
    width: 199px;
  }
}
@media (min-width: 390px) and (max-width: 414px) {
  .sliding-div-container {
    height: 75vh;
  }
}
@media (max-width: 320px) {
  .sliding-div-container {
    height: 87vh;
    width: 199px;
  }
  .content-below p {
    font-size: 12px;
  }

  .content-below {
    width: 165px;
  }
  .content-above {
    width: 165px;
  }
  .content-below h2 {
    font-size: 12px;
  }
  .content-above p {
    font-size: 12px;
  }
  .content-above h2 {
    font-size: 12px;
  }
  .reverse-div {
    width: 100%;
    height: 300px;
    background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1701209216/Frame_855_1_gj0swl.png);
  }
  .sliding-div {
    width: 100%;
    height: 300px;
    background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1701209313/Frame_852_1_k7nnxq.png);
  }
}
@media (min-width: 414px) and (max-width: 768px) {
  .sliding-div-container {
    width: 199px;
    height: 69vh;
  }
  .content-above p {
    font-size: 16px;
    /* margin-bottom: 10px; */
  }
  .content-below {
    width: 199px;
  }
  .content-below h2 {
    font-size: 12px;
  }

  .content-above h2 {
    font-size: 12px;
  }
  .content-above {
    width: 199px;
  }
  #btn-animation {
    font-size: 10px;

    font-weight: 600;
    line-height: 10px; /* 80% */
  }
  #Svg_img {
    margin-top: 30px;
    width: 80px;
    height: 80px;
  }

  .reverse-div {
    width: 100%;
    height: 300px;
    background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1701209216/Frame_855_1_gj0swl.png);
  }
  .sliding-div {
    width: 100%;
    height: 300px;
    background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1701209313/Frame_852_1_k7nnxq.png);
  }
  .content-below p {
    font-size: 16px;
  }
}

@media (max-width: 1440px) and (min-width: 1300px) {
  .sliding-div-container {
    width: 240px;
    margin-left: -5px;
  }
  .content-above {
    width: 240px;
  }
  .content-below {
    width: 240px;
  }
  .sliding-div {
    background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1701702017/Frame_855_2_edtqqk.png);
  }
  .reverse-div {
    background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1701700627/Frame_852_2_y7bxqg.png);
  }
}
