/* .aontainer {
  width: 200px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.box-container {
  display: flex;
  flex-direction: column;
  transition: transform 2.5s, opacity 2.5s;
}

.box {
  width: 150px;
  height: 150px;
  transition: transform 2.5s, opacity 2.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.box:nth-child(1) {
  background-color: #ff5733;
}

.box:nth-child(2) {
  background-color: #33ff57;
}

.box.active {
  transform: translateY(100%);
  opacity: 0;
}

.text {
  font-size: 16px;
  color: #1b1b1b;
  margin-top: 20px;
}

.apply-button {
  background-color: #33ff57;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.apply-button:hover {
  background-color: #2ecc52;
} */
