.heroproject {
  background-color: #070707;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1700837653/image_15_zfrbr0.png);
  height: 100%;
  width: 100%;
}
.Programpillar {
  background-color: #070707;

  height: 100%;
  width: 100%;
}
#mobile_line {
  display: none;
}
.impact_btn {
  background: #070707;
  color: #fff;
}
.heroproject h2 {
  color: var(--grayscale-off-white, #fcfcfc);
  text-align: center;
  font-family: Clash Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
}
.heroproject p {
  color: var(--grayscale-off-white, #fcfcfc);
  text-align: center;
  font-family: Satoshi;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}

.aboutproject h2 {
  color: #070707;
  font-family: Clash Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
}
.aboutproject {
  justify-content: left;
  display: flex;
}
.aboutp {
  color: var(--grayscale-body, #4e4b66);
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.12px;
}
.projectwhite {
  background-color: #f2f5f5;
  background: #f2f5f5;
}
.potential h2 {
  color: var(--grayscale-off-black, #14142b);
  text-align: center;
  font-family: Clash Display;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}
.potential p {
  color: var(--grayscale-body, #4e4b66);
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.12px;
}
.propil {
  color: #f1f5f5;
  font-family: Clash Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
}

.program_x_section {
  background-image: url("https://res.cloudinary.com/dtfvdjvyr/image/upload/v1700695993/Frame_848_3_g4fu2z.png");
  background-size: cover; /* Scale the background image to cover the entire element */
  background-repeat: no-repeat;
  height: calc(101vw); /* Set height to 50% of the viewport width */
  width: calc(100vw);
}
#move-btn {
  margin-top: 31px;
}
.program_x_section2 {
  background-image: url("https://res.cloudinary.com/dtfvdjvyr/image/upload/v1700781174/Frame_849_3_udcxar.png");
  background-size: cover; /* Scale the background image to cover the entire element */
  background-repeat: no-repeat;
  /* height: 1300px;
  width: 100%; */
  height: calc(101vw); /* Set height to 50% of the viewport width */
  width: calc(100vw); /* Set width to 50% of the viewport width */
}

.aboutim {
  height: 100%;
  width: 100%;
}

.img_abt {
  width: 100%;
  height: 100%;
}
.herohappy {
  background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1700687097/Rectangle_569_4_udoekg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  height: 590px;
  width: 65vw;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border-radius: 10px; /* Add border radius */
}

#Desx {
  display: none;
}
@media screen and (max-width: 800px) {
  /* .herohappy{
      background-size: none;

    } */
  .cover-slide {
    height: 33vh;
  }
}
@media screen and (max-width: 768px) {
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}
* {
  overflow-x: hidden;
}
.slide-it {
  height: 100%;
  width: 100vw;
  /* padding-left: 5px; */
}
.cover-slide {
  width: 100%;
  overflow-y: hidden;
  height: 88vh;
  background-color: #070707;
  background-image: linear-gradient(to right, #000 50%, transparent 50%);
}
.padrocket {
  padding-left: 70px;
}
.firstcohort {
  border-radius: 8px;
  border: 1.5px solid var(--grayscale-off-black, #14142b);
  background: #070707;
}
.firstcohort h2 {
  color: var(--grayscale-off-white, #fcfcfc);
  font-family: Clash Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  padding-left: 20px;
}
.firstcohort p {
  color: var(--BG, #f1f5f5);
  font-family: Satoshi;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  padding-left: 20px;
}
#mobile_take {
  display: none;
}
#mobile_become {
  display: none;
}
button {
  border-radius: 100px !important;
  border: 0.706px solid var(--grayscale-off-white, #fcfcfc);
  background: var(--BG, #f1f5f5);
  display: flex;
  padding: 13px 27px;
  justify-content: center;
  align-items: center;
  gap: 8.467px;
  color: #070707;
  text-align: center;

  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 80% */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
button:hover {
  /* Change the background color, text color, and border color on hover */
  background-color: var(--Hover-BG, #dcdcdc);
  color: var(--Hover-Text, #000);
  border-color: var(--Hover-Border, #999);
}

.firstmaster {
  border: 1.5px solid #070707;
  background: #effe60;
}
.firstmaster h2 {
  color: #070707;
  font-family: Clash Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}
.firstmaster h1 {
  color: #14142b;
  font-family: Clash Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.firstmaster p {
  color: var(--grayscale-ash, #262338);
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
  align-self: stretch;
}
.secondmaster {
  border: 1.5px solid #070707;
  background: #5eb857;
}
.secondmaster h2 {
  color: #070707;
  font-family: Clash Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}

.secondmaster h1 {
  color: #14142b;
  font-family: Clash Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.secondmaster p {
  color: var(--grayscale-ash, #262338);
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
  align-self: stretch;
}
.thirdmaster {
  border: 1.5px solid #f1f5f5;
  background: #dd4c72;
}
.thirdmaster h2 {
  color: #f1f5f5;
  font-family: Clash Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}
.thirdmaster h1 {
  color: #f1f5f5;
  font-family: Clash Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.thirdmaster p {
  color: #f1f5f5;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
  align-self: stretch;
}

.masterclass3 {
  background-image: url("https://res.cloudinary.com/dtfvdjvyr/image/upload/v1698541244/Bg_2_m0ckri.png");
  background-size: cover; /* Scale the background image to cover the entire element */
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
}
.masterclass1 {
  background-image: url("https://ik.imagekit.io/rynknrqlsz/Bg%20(4).png?updatedAt=1700756745150");
  background-size: cover; /* Scale the background image to cover the entire element */
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.forthmaster {
  border: 1.5px solid #f1f5f5;
  background: #8858f5;
}
.forthmaster h2 {
  color: #f1f5f5;
  font-family: Clash Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}
.forthmaster p {
  color: #f1f5f5;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px;
  align-self: stretch;
}
.forthmaster h1 {
  color: #f1f5f5;
  font-family: Clash Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.cohort p {
  color: var(--grayscale-body, #4e4b66);
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.volunter {
  background-image: url(" https://res.cloudinary.com/dtfvdjvyr/image/upload/v1698543000/volunter_afr9rh.png");
  background-size: cover; /* Scale the background image to cover the entire element */
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.masterclass3 {
  background-image: url("https://res.cloudinary.com/dtfvdjvyr/image/upload/v1700780387/Bg_7_qgu6uz.png");
  background-size: cover; /* Scale the background image to cover the entire element */
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
}
.provolunter p {
  color: var(--grayscale-body, #4e4b66);
  text-align: center;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.Impact {
  border: 1.5px solid var(--grayscale-off-black, #14142b);
  background: #effe60;
}
.Impact h2 {
  color: #070707;
  font-family: Clash Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}
.Impact p {
  color: var(--grayscale-ash, #262338);
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.Impact h1 {
  color: var(--grayscale-off-black, #14142b);
  font-family: Clash Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.position_element h2 {
  color: var(--grayscale-off-white, #fcfcfc);
  font-family: Clash Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}
/* .position_element {
  position: relative;
  top: 610px;
  left: 113px;
} */

.position_element {
  position: relative;
  top: 600px;
  left: 100px;
}

.footer {
  border-top: 1.5px solid #f1f5f5;
  border-bottom: 1.5px solid #f1f5f5;
  background: #070707;
}
.footer h2 {
  color: var(--grayscale-line, #d9dbe9);
  font-family: Clash Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}
.footer p {
  color: #f1f5f5;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
}
.footer h1 {
  color: var(--grayscale-line, #d9dbe9);
  text-align: right;
  font-family: Clash Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}
.masterclass2 {
  background-image: url("https://res.cloudinary.com/dtfvdjvyr/image/upload/v1700779336/Bg_6_xkfqfc.png");
  background-size: cover; /* Scale the background image to cover the entire element */
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
}
@media (max-width: 1024px) {
  .masterclass3 {
    background-size: contain;
    background-position: center center;
    height: 50vh;
  }
}
@media (max-width: 1024px) {
  .masterclass1 {
    background-size: contain;
    background-position: center center;
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .masterclass1 {
    background-size: contain;
    background-position: center center;
    height: 55vh;
    /* width:100vh; */
  }
}
@media (max-width: 425px) {
  .masterclass1 {
    background-size: contain;
    background-position: center center;
    height: 40vh;
  }
}

@media (max-width: 1024px) {
  .masterclass2 {
    background-size: contain;
    background-position: center center;
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .masterclass2 {
    background-size: contain;
    background-position: center center;
    height: 55vh;
  }
}

@media (max-width: 1024px) {
  .masterclass3 {
    background-size: contain;
    background-position: center center;
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .masterclass3 {
    background-size: contain;
    background-position: center center;
    height: 55vh;
  }
}
@media (max-width: 425px) {
  .masterclass3 {
    background-size: contain;
    background-position: center center;
    height: 40vh;
  }
}

@media (max-width: 1024px) {
  .volunter {
    background-size: contain;
    background-position: center center;
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .volunter {
    background-size: contain;
    background-position: center center;
    height: 55vh;
  }
}
@media (max-width: 425px) {
  .volunter {
    background-size: contain;
    background-position: center center;
    height: 40vh;
  }
}

/* CSS for tablet (landscape) */
@media (max-width: 1024px) {
  .position_element {
    top: 456px;
  }
  .col-lg-8 h2 {
    font-size: 48px;
  }
  button {
    padding: 10px 21px;
  }
  .aboutimg {
  }
}
@media (min-width: 1440px) {
  .position_element {
    top: 651px;
    left: 120px;
  }
}
@media (max-width: 768px) {
  .position_element {
    top: 351px;
    left: 59px;
  }
  .col-lg-8 h2 {
    font-size: 24px;
  }
  #move-btn {
    margin-left: -11px;
  }
  .herohappy {
    height: 88vh;
    width: 100%;
  }
}

@media (max-width: 475px) {
  .slide-it {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-direction: row;
  }

  .herohappy {
    margin-bottom: 20px;
    height: 340px;
    width: 100%;
  }
  #Desx {
    display: flex;
    height: fit-content;
  }
  #mobile {
    display: none;
  }
}
@media (max-width: 320px) {
  .position_element {
    /* top: 130px;
    left: 92px; */
    display: none;
  }
  .col-lg-8 h2 {
    font-size: 12px;
  }
  #Desx {
    display: flex;
    height: fit-content;
  }
  #mobile {
    display: none;
  }
  .slide-it {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-direction: row;
  }

  .herohappy {
    margin-bottom: 20px;
    height: 260px;
    width: 100%;
  }
  .heroproject h2 {
    font-size: 30px;
  }
  .heroproject p {
    font-size: 16px;
  }
  .slide-it {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-direction: row;
  }
  .aboutproject h2 {
    font-size: 28px;
  }
  .aboutp {
    font-size: 16px;
  }
  .propil {
    font-size: 32px;
  }
  .potential h2 {
    font-size: 22px;
  }
  .herohappy {
    margin-bottom: 20px;
    height: 279px;
    width: 100%;
  }
  .program_x_section {
    background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1699996121/Frame_1000004032_ykhj2b.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 761px;
    width: calc(100vw);
  }
  .program_x_section2 {
    background-image: url(https://res.cloudinary.com/dtfvdjvyr/image/upload/v1699998817/Frame_1000004033_ua4qhx.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 127vh;
    width: calc(100vw);
    margin-top: 59px;
    margin-bottom: 69px;
  }

  #Desx {
    display: flex;
    height: fit-content;
  }
  #mobile {
    display: none;
  }

  .firstmaster h2 {
    font-size: 22px;
  }
  .firstmaster h1 {
    font-size: 18px;
  }
  .firstmaster p {
    font-size: 16px;
  }
  .secondmaster h2 {
    font-size: 22px;
  }
  .secondmaster h1 {
    font-size: 18px;
  }
  .secondmaster p {
    font-size: 16px;
  }
  .thirdmaster h2 {
    font-size: 22px;
  }
  .thirdmaster h1 {
    font-size: 18px;
  }
  .thirdmaster p {
    font-size: 16px;
  }
  .forthmaster h2 {
    font-size: 22px;
  }
  .forthmaster h1 {
    font-size: 18px;
  }
  .forthmaster p {
    font-size: 16px;
  }
  .cohort p {
    font-size: 16px;
  }
  .masterclass2 {
    height: 24vh;
  }
  .provolunter p {
    font-size: 16px;
  }
  .potential p {
    font-size: 16px;
  }
  .masterclass1 {
    height: 24vh;
  }
  .masterclass3 {
    height: 24vh;
  }
  .volunter {
    height: 24vh;
  }
  .footer h2 {
    font-size: 12px;
  }
  .footer p {
    font-size: 8px;
  }
  .footer h1 {
    font-size: 8px;
  }
  #svg_foot {
    width: 25px;
    height: 25px;
  }
  .Impact p {
    font-size: 16px;
  }
  .Impact h2 {
    font-size: 15px;
  }
  .Impact h1 {
    font-size: 11px;
    text-align: center;
  }
  .Impact p {
    font-size: 10px;
    text-align: center;
  }
  .impact_svg {
    width: 25px;
    height: 25px;
  }
  .padrocket {
    padding-left: 0px;
  }
  .impact_btn {
    border-radius: 100px !important;

    padding: 13px 27px;

    margin: auto;
    text-align: center;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background: #070707;
    color: #fff;
  }
  .impact_btn:hover {
  }
  #impact_iyt {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  #mobile_take {
    justify-content: center;
    display: flex;
    top: 3844px;

    align-items: center;
    margin: auto;
    position: absolute;
  }

  #mobile_take h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  #hide_mobile {
    display: none;
  }
  #move-btn {
    font-size: 11px;
    padding: 8px 26px;
    margin: auto;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: -11px; */
  }
  #mobile_become {
    justify-content: center;
    display: flex;
    top: 4719px;

    align-items: center;
    margin: auto;
    position: absolute;
  }
  #mobile_become h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
}

@media (max-width: 475px) {
  .slide-it {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-direction: row;
  }

  .herohappy {
    margin-bottom: 20px;
    height: 340px;
    width: 100%;
  }
  #Desx {
    display: flex;
    height: fit-content;
  }
  #mobile {
    display: none;
  }
}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .slide-it {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-direction: row;
  }
  .masterclass1 {
    background-size: contain;
    background-position: center center;
    height: 35vh;
  }
  .herohappy {
    margin-bottom: 20px;
    height: 260px;
    width: 100%;
  }
  #Desx {
    display: flex;
    height: fit-content;
  }
  #mobile {
    display: none;
  }
  .heroproject h2 {
    font-size: 30px;
  }
  .heroproject p {
    font-size: 16px;
  }
  .slide-it {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-direction: row;
  }
  .aboutproject h2 {
    font-size: 28px;
  }
  .aboutp {
    font-size: 16px;
  }
  .propil {
    font-size: 32px;
  }
  .potential h2 {
    font-size: 22px;
  }
  .herohappy {
    margin-bottom: 20px;
    height: 279px;
    width: 100%;
  }
  .program_x_section {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004032.svg?updatedAt=1700231383895);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(134vh);
    width: calc(100vw);
  }
  .program_x_section2 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004037.svg?updatedAt=1700232127936);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(134vh);
    width: calc(100vw);
    margin-top: 59px;
    margin-bottom: 55px;
  }

  .program_x_section3 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004038.svg?updatedAt=1700242503757);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(134vh);
    width: calc(100vw);
    margin-top: 30px;
    margin-bottom: 69px;
  }
  .program_x_section4 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004039.svg?updatedAt=1700243676503);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(134vh);
    width: calc(100vw);
    margin-top: 20px;
    margin-bottom: 69px;
  }
  #Desx {
    display: flex;
    height: fit-content;
  }
  #mobile {
    display: none;
  }

  .firstmaster h2 {
    font-size: 22px;
  }
  .firstmaster h1 {
    font-size: 18px;
  }
  .firstmaster p {
    font-size: 16px;
  }
  .secondmaster h2 {
    font-size: 22px;
  }
  .secondmaster h1 {
    font-size: 18px;
  }
  .secondmaster p {
    font-size: 16px;
  }
  .thirdmaster h2 {
    font-size: 22px;
  }
  .thirdmaster h1 {
    font-size: 18px;
  }
  .thirdmaster p {
    font-size: 16px;
  }
  .forthmaster h2 {
    font-size: 22px;
  }
  .forthmaster h1 {
    font-size: 18px;
  }
  .forthmaster p {
    font-size: 16px;
  }
  .cohort p {
    font-size: 16px;
  }
  .masterclass2 {
    height: 22vh;
  }
  .provolunter p {
    font-size: 16px;
  }
  .potential p {
    font-size: 16px;
  }
  .masterclass1 {
    height: 22vh;
  }
  .masterclass3 {
    height: 22vh;
  }
  .volunter {
    height: 29vh;
  }
  .footer h2 {
    font-size: 12px;
  }
  .footer p {
    font-size: 8px;
  }
  .footer h1 {
    font-size: 8px;
  }
  #svg_foot {
    width: 25px;
    height: 25px;
  }
  .Impact p {
    font-size: 16px;
  }
  .Impact h2 {
    font-size: 15px;
  }
  .Impact h1 {
    font-size: 11px;
    text-align: center;
  }
  .Impact p {
    font-size: 10px;
    text-align: center;
  }
  .impact_svg {
    width: 25px;
    height: 25px;
  }
  .padrocket {
    padding-left: 0px;
  }
  .impact_btn {
    border-radius: 100px !important;
    padding: 9px 15px;
    margin: auto;
    text-align: center;
    font-family: Satoshi;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 16px; */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background: #070707;
    color: #fff;
  }
  .impact_btn:hover {
  }
  #impact_iyt {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  #mobile_take {
    justify-content: center;
    display: flex;
    top: 2240px;
    align-items: center;
    margin: auto;
    /* position: relative; */
  }
  #mobile_take h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  #hide_mobile {
    display: none;
  }
  #move-btn {
    font-size: 11px;
    padding: 8px 26px;
    margin: auto;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: -11px; */
  }
  #mobile_become {
    justify-content: center;
    display: flex;
    /* bottom: 35px; */
    align-items: center;
    margin: auto;
    /* position: relative; */
    padding-bottom: 48px;
  }
  #mobile_become h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
}
@media (min-width: 390px) and (max-width: 414px) {
  .program_x_section {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004032.svg?updatedAt=1700231383895);
    background-size: cover;
    background-repeat: no-repeat;
    height: 925px;
    width: calc(100vw);
  }
  .impact_btn {
    border-radius: 100px !important;
    padding: 9px 15px;
    margin: auto;
    text-align: center;
    font-family: Satoshi;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 16px; */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background: #070707;
    color: #fff;
  }
  .program_x_section2 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004037.svg?updatedAt=1700232127936);
    background-size: cover;
    background-repeat: no-repeat;
    height: 959px;
    width: calc(100vw);
    margin-top: 59px;
    margin-bottom: 140px;
  }
  .firstmaster h2 {
    font-size: 22px;
  }
  .firstmaster h1 {
    font-size: 18px;
  }
  .firstmaster p {
    font-size: 16px;
  }
  .secondmaster h2 {
    font-size: 22px;
  }
  .secondmaster h1 {
    font-size: 18px;
  }
  .secondmaster p {
    font-size: 16px;
  }
  .thirdmaster h2 {
    font-size: 22px;
  }
  .thirdmaster h1 {
    font-size: 18px;
  }
  .thirdmaster p {
    font-size: 16px;
  }
  .forthmaster h2 {
    font-size: 22px;
  }
  .forthmaster h1 {
    font-size: 18px;
  }
  .forthmaster p {
    font-size: 16px;
  }
  .cohort p {
    font-size: 16px;
  }
  .masterclass2 {
    height: 22vh;
  }
  .provolunter p {
    font-size: 16px;
  }
  .potential p {
    font-size: 16px;
  }
  .masterclass1 {
    height: 22vh;
  }
  .masterclass3 {
    height: 22vh;
  }
  .volunter {
    height: 29vh;
  }
  .footer h2 {
    font-size: 12px;
  }
  .footer p {
    font-size: 8px;
  }
  .footer h1 {
    font-size: 8px;
  }
  #impact_iyt {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  #svg_foot {
    width: 26px;
    height: 26px;
  }
  .padrocket {
    padding-left: 0px;
  }
  .program_x_section3 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004038.svg?updatedAt=1700242503757);
    background-size: cover;
    background-repeat: no-repeat;
    height: 959px;
    width: calc(100vw);
    margin-top: 70px;
    margin-bottom: 69px;
  }
  .program_x_section4 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004039.svg?updatedAt=1700243676503);
    background-size: cover;
    background-repeat: no-repeat;
    height: 959px;
    width: calc(100vw);
    margin-top: 20px;
    margin-bottom: 69px;
  }
  #mobile_take {
    justify-content: center;
    display: flex;
    top: 5530px;
    align-items: center;
    margin: auto;
    /* position: absolute; */
  }
  #mobile_become {
    justify-content: center;
    display: flex;
    top: 7676px;
    align-items: center;
    margin: auto;
    padding-bottom: 48px;
    /* position: absolute; */
  }
  #mobile {
    display: none;
  }
  #hide_mobile {
    display: none;
  }
  #mobile_become h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  #mobile_take h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  #move-btn {
    font-size: 11px;
    padding: 8px 26px;
    margin: auto;
  }
  .heroproject p {
    font-size: 16px;
  }
  .heroproject h2 {
    font-size: 30px;
  }
  .firstcohort h2 {
    font-size: 15px;
  }
  .firstcohort p {
    font-size: 10px;
  }
  .propil {
    font-size: 30px;
  }
  .first_co {
    font-size: 12px;
    padding: 9px 24px;
    margin: auto;
  }
}
@media (min-width: 414px) and (max-width: 430px) {
  .program_x_section {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004032.svg?updatedAt=1700231383895);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(109vh);
    width: calc(100vw);
  }
  .firstcohort h2 {
    font-size: 15px;
  }
  .firstcohort p {
    font-size: 10px;
  }
  .aboutproject h2 {
    font-size: 28px;
  }
  .aboutp {
    font-size: 16px;
  }
  .propil {
    font-size: 30px;
  }
  .first_co {
    font-size: 12px;
    padding: 9px 24px;
    margin: auto;
  }
  .heroproject p {
    font-size: 16px;
  }
  .heroproject h2 {
    font-size: 30px;
  }
  #Desx {
    display: flex;
    height: fit-content;
  }
  .Impact p {
    font-size: 16px;
  }
  .Impact h2 {
    font-size: 15px;
  }
  .Impact h1 {
    font-size: 11px;
    text-align: center;
  }
  .Impact p {
    font-size: 10px;
    text-align: center;
  }
  .impact_svg {
    width: 25px;
    height: 25px;
  }
  .padrocket {
    padding-left: 0px;
  }
  .impact_btn {
    border-radius: 100px !important;

    padding: 13px 27px;

    margin: auto;
    text-align: center;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background: #070707;
    color: #fff;
  }
  #impact_iyt {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  .program_x_section2 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004037.svg?updatedAt=1700232127936);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(109vh);
    width: calc(100vw);
    margin-top: 59px;
    margin-bottom: 100px;
  }
  .program_x_section3 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004038.svg?updatedAt=1700242503757);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(109vh);
    width: calc(100vw);
    margin-top: 80px;
    margin-bottom: 69px;
  }
  .program_x_section4 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004039.svg?updatedAt=1700243676503);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(109vh);
    width: calc(100vw);
    margin-top: 20px;
    margin-bottom: 120px;
  }
  #mobile_become {
    justify-content: center;
    display: flex;
    top: 7676px;
    align-items: center;
    margin: auto;
    padding-bottom: 48px;
    /* position: absolute; */
  }
  #mobile_take {
    justify-content: center;
    display: flex;
    top: 5530px;
    align-items: center;
    margin: auto;
    /* position: absolute; */
  }
  #mobile_become h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  #mobile_take h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  #move-btn {
    font-size: 11px;
    padding: 8px 26px;
    margin: auto;
  }
  #fall_off {
    font-size: 11px;
    padding: 8px 26px;
    margin: auto;
  }
  #hide_mobile {
    display: none;
  }
  #mobile {
    display: none;
  }

  .firstmaster h2 {
    font-size: 22px;
  }
  .firstmaster h1 {
    font-size: 18px;
  }
  .firstmaster p {
    font-size: 16px;
  }
  .secondmaster h2 {
    font-size: 22px;
  }
  .secondmaster h1 {
    font-size: 18px;
  }
  .secondmaster p {
    font-size: 16px;
  }
  .thirdmaster h2 {
    font-size: 22px;
  }
  .thirdmaster h1 {
    font-size: 18px;
  }
  .thirdmaster p {
    font-size: 16px;
  }
  .forthmaster h2 {
    font-size: 22px;
  }
  .forthmaster h1 {
    font-size: 18px;
  }
  .forthmaster p {
    font-size: 16px;
  }
  .cohort p {
    font-size: 16px;
  }
  .masterclass2 {
    height: 22vh;
  }
  .provolunter p {
    font-size: 16px;
  }
  .potential p {
    font-size: 16px;
  }
  .masterclass1 {
    height: 22vh;
  }
  .masterclass3 {
    height: 22vh;
  }
  .volunter {
    height: 29vh;
  }
  .footer h2 {
    font-size: 12px;
  }
  .footer p {
    font-size: 8px;
  }
  .footer h1 {
    font-size: 8px;
  }
  #svg_foot {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 375px) and (max-width: 389px) {
  .slide-it {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-direction: row;
  }
  #space_impact {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
  .first_co {
    font-size: 12px;
    padding: 9px 24px;
    margin: auto;
  }
  .firstcohort h2 {
    font-size: 15px;
  }
  .firstcohort p {
    font-size: 10px;
  }
  .masterclass1 {
    background-size: contain;
    background-position: center center;
    height: 35vh;
  }
  .herohappy {
    margin-bottom: 20px;
    height: 260px;
    width: 100%;
  }
  #Desx {
    display: flex;
    height: fit-content;
  }
  #mobile {
    display: none;
  }
  .heroproject h2 {
    font-size: 30px;
  }
  .heroproject p {
    font-size: 16px;
  }
  .slide-it {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    flex-direction: row;
  }
  .aboutproject h2 {
    font-size: 28px;
  }
  .aboutp {
    font-size: 16px;
  }
  .propil {
    font-size: 32px;
  }
  .firstcohort {
    height: 151px;
    overflow: hidden;
  }
  .potential h2 {
    font-size: 22px;
  }
  .herohappy {
    margin-bottom: 20px;
    height: 279px;
    width: 100%;
  }
  .program_x_section {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004032.svg?updatedAt=1700231383895);
    background-size: cover;
    background-repeat: no-repeat;
    height: 887px;
    width: calc(100vw);
  }
  .program_x_section2 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004037.svg?updatedAt=1700232127936);
    background-size: cover;
    background-repeat: no-repeat;
    height: 859px;
    width: calc(100vw);
    margin-top: 59px;
    margin-bottom: 140px;
  }
  #mobile_line {
    display: flex;
  }
  .program_x_section3 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004038.svg?updatedAt=1700242503757);
    background-size: cover;
    background-repeat: no-repeat;
    height: 891px;
    width: calc(100vw);
    margin-top: 70px;
    margin-bottom: 69px;
  }
  .program_x_section4 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004039.svg?updatedAt=1700243676503);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(137vh);
    width: calc(100vw);
    margin-top: 20px;
    margin-bottom: 69px;
  }
  #Desx {
    display: flex;
    height: fit-content;
  }
  #mobile {
    display: none;
  }

  .firstmaster h2 {
    font-size: 22px;
  }
  .firstmaster h1 {
    font-size: 18px;
  }
  .firstmaster p {
    font-size: 16px;
  }
  .secondmaster h2 {
    font-size: 22px;
  }
  .secondmaster h1 {
    font-size: 18px;
  }
  .secondmaster p {
    font-size: 16px;
  }
  .thirdmaster h2 {
    font-size: 22px;
  }
  .thirdmaster h1 {
    font-size: 18px;
  }
  .thirdmaster p {
    font-size: 16px;
  }
  .forthmaster h2 {
    font-size: 22px;
  }
  .forthmaster h1 {
    font-size: 18px;
  }
  .forthmaster p {
    font-size: 16px;
  }
  .cohort p {
    font-size: 16px;
  }
  .masterclass2 {
    height: 25vh;
  }
  .provolunter p {
    font-size: 16px;
  }
  .potential p {
    font-size: 16px;
  }
  .masterclass1 {
    height: 25vh;
  }
  .masterclass3 {
    height: 25vh;
  }
  .volunter {
    height: 29vh;
  }
  .footer h2 {
    font-size: 12px;
  }
  .footer p {
    font-size: 8px;
  }
  .footer h1 {
    font-size: 8px;
  }
  #svg_foot {
    width: 25px;
    height: 25px;
  }
  .Impact p {
    font-size: 16px;
  }
  .Impact h2 {
    font-size: 15px;
  }
  .Impact h1 {
    font-size: 11px;
    text-align: center;
  }
  .Impact p {
    font-size: 10px;
    text-align: center;
  }
  .impact_svg {
    width: 25px;
    height: 25px;
  }
  .padrocket {
    padding-left: 0px;
  }
  .impact_btn {
    border-radius: 100px !important;

    margin: auto;
    padding: revert-layer;
    font-family: Satoshi;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background: #070707;
    color: #fff;
  }
  .impact_btn:hover {
  }
  #impact_iyt {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  #mobile_take {
    justify-content: center;
    display: flex;
    top: 2112px;
    align-items: center;
    margin: auto;
    /* position: relative; */
  }
  #mobile_take h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  #hide_mobile {
    display: none;
  }
  .Impact {
    height: 186px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  #move-btn {
    font-size: 11px;
    padding: 8px 26px;
    margin: auto;
  }
  #mobile_become {
    justify-content: center;
    display: flex;
    bottom: 35px;
    align-items: center;
    margin: auto;
    padding-bottom: 48px;
    /* position: relative; */
  }
  #mobile_become h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
}
@media (min-width: 414px) and (max-width: 700px) {
  .program_x_section {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004032.svg?updatedAt=1700231383895);
    background-size: cover;
    height: 977px;
    width: calc(100vw);
    background-repeat: no-repeat;
  }
  .firstcohort h2 {
    font-size: 15px;
  }
  #mobile_line {
    display: flex;
  }
  .Impact {
    height: 186px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  #space_impact {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
  .firstcohort {
    height: 151px;
    overflow: hidden;
  }
  .firstcohort p {
    font-size: 10px;
  }
  .aboutproject h2 {
    font-size: 28px;
  }
  .aboutp {
    font-size: 16px;
  }
  .propil {
    font-size: 30px;
  }

  .first_co {
    font-size: 12px;
    padding: 9px 24px;
    margin: auto;
  }

  .heroproject p {
    font-size: 16px;
  }
  .heroproject h2 {
    font-size: 30px;
  }
  #Desx {
    display: flex;
    height: fit-content;
  }
  .Impact p {
    font-size: 16px;
  }
  .Impact h2 {
    font-size: 15px;
  }
  .Impact h1 {
    font-size: 11px;
    text-align: center;
  }
  .Impact p {
    font-size: 10px;
    text-align: center;
  }
  .impact_svg {
    width: 25px;
    height: 25px;
  }
  .padrocket {
    padding-left: 0px;
  }
  .impact_btn {
    border-radius: 100px !important;

    margin: auto;
    padding: 9px 24px;
    font-family: Satoshi;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background: #070707;
    color: #fff;
  }
  #impact_iyt {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  .program_x_section2 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004037.svg?updatedAt=1700232127936);
    background-size: cover;
    background-repeat: no-repeat;
    height: 945px;
    width: calc(100vw);
    margin-top: 59px;
    margin-bottom: 60px;
  }
  .program_x_section3 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004038.svg?updatedAt=1700242503757);
    background-size: cover;
    background-repeat: no-repeat;
    height: 991px;
    width: calc(100vw);
    margin-top: 40px;
    margin-bottom: 69px;
  }
  .program_x_section4 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004039.svg?updatedAt=1700243676503);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1077px;
    width: calc(100vw);
    margin-top: 20px;
    margin-bottom: 50px;
  }
  #mobile_become {
    justify-content: center;
    display: flex;
    top: 7676px;
    align-items: center;
    margin: auto;
    padding-bottom: 48px;
    /* position: absolute; */
  }
  #mobile_take {
    justify-content: center;
    display: flex;
    top: 5530px;
    align-items: center;
    margin: auto;
    /* position: absolute; */
  }
  #mobile_become h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  #mobile_take h2 {
    color: var(--grayscale-off-white, #fcfcfc);
    text-align: center;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  #move-btn {
    font-size: 11px;
    padding: 8px 26px;
    margin: auto;
  }
  #fall_off {
    font-size: 11px;
    padding: 8px 26px;
    margin: auto;
  }
  #hide_mobile {
    display: none;
  }
  #mobile {
    display: none;
  }

  .firstmaster h2 {
    font-size: 22px;
  }
  .firstmaster h1 {
    font-size: 18px;
  }
  .firstmaster p {
    font-size: 16px;
  }
  .secondmaster h2 {
    font-size: 22px;
  }
  .secondmaster h1 {
    font-size: 18px;
  }
  .secondmaster p {
    font-size: 16px;
  }
  .thirdmaster h2 {
    font-size: 22px;
  }
  .thirdmaster h1 {
    font-size: 18px;
  }
  .thirdmaster p {
    font-size: 16px;
  }
  .forthmaster h2 {
    font-size: 22px;
  }
  .forthmaster h1 {
    font-size: 18px;
  }
  .forthmaster p {
    font-size: 16px;
  }
  .cohort p {
    font-size: 16px;
  }
  .masterclass2 {
    height: 21vh;
  }
  .provolunter p {
    font-size: 16px;
  }
  .potential p {
    font-size: 16px;
  }
  .masterclass1 {
    height: 21vh;
  }
  .masterclass3 {
    height: 21vh;
  }
  .volunter {
    height: 22vh;
  }
  .footer h2 {
    font-size: 12px;
  }
  .footer p {
    font-size: 8px;
  }
  .footer h1 {
    font-size: 8px;
  }
  #svg_foot {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 425px) and (max-width: 475px) {
  .program_x_section {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004032.svg?updatedAt=1700231383895);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(124vh);
    width: calc(100vw);
  }
  .program_x_section2 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004037.svg?updatedAt=1700232127936);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(120vh);
    width: calc(100vw);
    margin-top: 59px;
    margin-bottom: 100px;
  }
  .program_x_section3 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004038%201.svg?updatedAt=1700246063050);

    background-size: cover;
    background-repeat: no-repeat;
    height: calc(120vh);
    width: calc(100vw);
    margin-top: 80px;
    margin-bottom: 69px;
  }
  .program_x_section4 {
    background-image: url(https://ik.imagekit.io/rynknrqlsz/Frame%201000004039.svg?updatedAt=1700243676503);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(125vh);
    width: calc(100vw);
    margin-top: 20px;
    margin-bottom: 120px;
  }
}
/* Media query for iPhone 11 */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  /* Your styles for iPhone 11 go here */
  body {
  }
}
